body {
    font-family: 'Raleway', sans-serif;
    color: #1D1F22;
}

h1, h2, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}